# Virtuele omgeving
venv/

# Python bytecode
__pycache__/
*.pyc
*.pyo

# Configuratiebestanden
*.env

#app vervangen voor main
app_old.py

# Systeembestanden
.DS_Store
Thumbs.db

# Logs
*.log

# Docker bestanden
docker-compose.override.yml

# Andere tijdelijke bestanden
.idea/
.vscode/

#dockerfile
Dockerfile-old
Dockerfile-old2

# Andere gegevens
other/

